@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

:root{
    --main-blue: #3a7dc3;
    --main-red: #d8474c;
    --main-gray: #e5e5e5;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Arya', sans-serif;
    font-size: 34px;
    font-weight: 100px;
}

body{
  max-width: 960px;
  margin: auto;
  background: var(--main-gray);
}

body div{
    background-color: white;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#title-heading{
    font-weight: 700px;
    font-size: 74px;
    margin-bottom: 6px;
}


#language-headnote{
    text-align: right;
    margin: 10px;
    padding: 5px;
}