@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

:root{
    --main-blue: #3a7dc3;
    --main-red: #d8474c;
    --main-gray: #e5e5e5;
}

*{
    margin:0px;
    padding:0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arya', sans-serif;
    font-size: 34px;
    font-weight: 100px;
}

body{
  max-width: 960px;
  margin: auto;
  background: var(--main-gray);
}

body div{
    background-color: white;
    max-width: 100%;
}

img{
    max-width: 50%;
    max-height: 50%;
}

#language-headnote{
    text-align: right;
    margin: 10px;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#title-heading{
    font-weight: 700px;
    font-size: 74px;
    margin-bottom: 6px;
}

#images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

#heading{
    font-weight: 100px;
    font-size: 44px;
    margin-bottom: 6px;
}

#main-body{
    display: grid;
    grid-template-columns: 50% 50%;
}

#body-item1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 1;
    font-weight: 100px;
    font-size: 25px;
    line-height:1.15;
}

#body-footnote{
    color: gray;
    font-weight: 100px;
    font-size: 15px;
}

#body-item2{
    grid-column: 2;
}